<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>비밀번호변경</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<div id="loginForm">
  <h2>비밀번호변경</h2>
  <form id="changePw" method="post">
    <h2 th:text="'ID : '+${userId}"></h2>
    <br/>
    <label for="userPw">Password:</label>
    <input type="password" id="userPw" name="userPw"/>
    <br/>
    <input type="submit" />
  </form>
</div>

<script th:inline="javascript">
  $(document).ready(function () {
    $('#login').submit(function (e) {
      e.preventDefault();
      var userId = $('#userId').val();
      var userPw = $('#userPw').val();

      var userData = {
        userId: userId,
        userPw: userPw
      }

      $.ajax({
        type: 'POST',
        url: '/user/loginProc',
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json'
        },
        data: JSON.stringify(userData),
        success: function (data) {
          if (data.lginYn === 'Y') {
            window.location.replace('/main');
          } else {
            alert('Login failed!');
          }
        },
        error: function (err) {
          var errCd = err.responseJSON?.exception?.errorCode;
          var errMsg = err.responseJSON?.exception?.errorMessage;

          if(errCd === 'LGIN003'){
            window.location.replace('/user/chngPw')
          }

          alert(err.responseJSON.exception.errorMessage);
        }
      });
    });
  });
</script>

</body>
</html>