<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="layout/fragments/head.html :: headFragment"/>
<body class="body-chat">
<header class="top-header chat-header">
  <th:block th:replace="layout/fragments/header_top.html :: headerTopFragment"/>
  <div class="header__bottom">
    <div class="header__column">
      <span class="header__text"></span>
    </div>
    <div class="header__column">
      <span class="header__text" id="loginHeader">로그인</span>
    </div>
    <div class="header__column">
<!--      <i class="fa fa-cog"></i>-->
    </div>
  </div>
</header>

<!-- 로그인 -->
<div class="login-body" id="login">
  <header class="welcome-header">
    <h1 class="welcome-header__title">Welcome to 깨톡</h1>
    <p class="welcome-header__text"> 깨톡 계정이 있으신가요?<br /> 아이디로 로그인해주세요. </p>
  </header>

  <form id="loginForm" method="post">
    <input id="loginId" type="text" required autocomplete="off" placeholder="아이디" />
    <input id="loginPw" type="password" required autocomplete="off" placeholder="비밀번호" />
    <input type="submit" value="Log in"/>
    <a href="#" id="goSignup">회원가입</a>
  </form>
</div>

<!-- 회원가입 -->
<div class="join-body" id="signup" style="display: none">
  <header class="welcome-header">
    <h1 class="welcome-header__title">Welcome to 깨톡</h1>
    <p class="welcome-header__text"> 깨톡이 처음이신가요? <br /> 정보를 입력해주세요. </p>
  </header>

  <form id="joinForm" method="post">
    <input type="text" id="joinId" required autocomplete="off" placeholder="아이디"/>
    <input type="text" id="joinName" required autocomplete="off" placeholder="이름"/>
    <input type="password" id="joinPw" required autocomplete="off" placeholder="비밀번호"/>
    <input type="password" id="joinPwChk" required autocomplete="off" placeholder="비밀번호 확인"/>
    <input type="submit" value="Sign up"/>
    <a href="#" id="goLogin">로그인</a>
  </form>
</div>
<script th:inline="javascript">
  $(document).ready(function () {

    // 로그인 버튼 클릭
    $('#loginForm').submit(function (e) {
      e.preventDefault();
      var userId = $('#loginId').val();
      var userPw = $('#loginPw').val();

      var userData = {
        userId: userId,
        userPw: userPw
      }
      // API 호출
      openModal();
      postApi('/user/loginProc', userData, onLoginSuccess, onLoginError);
    });

    // 로그인 성공 콜백함수
    function onLoginSuccess(data) {
      closeModal();

      if (data.lginYn === 'Y') {
        window.location.replace('/');
      } else {
        alert('Login failed!');
      }
    }

    // 로그인 실패 콜백함수
    function onLoginError(err) {
      closeModal();

      var errCd = err.responseJSON?.exception?.errorCode;
      var errMsg = err.responseJSON?.exception?.errorMessage;

      if (errCd === 'LGIN003') {
        window.location.replace('/user/chngPw')
      }

      console.log("err >> " + JSON.stringify(err));
      alert(errMsg);
    }

    // 회원가입 버튼 클릭
    $('#joinForm').submit(function (e) {
      e.preventDefault();
      var joinId = $('#joinId').val();
      var joinName = $('#joinName').val();
      var joinPw = $('#joinPw').val();
      var joinPwChk = $('#joinPwChk').val();

      var joinData = {
        userId: joinId,
        userPw: joinPw,
        userPwChk: joinPwChk,
        userName: joinName
      }

      // API 호출
      openModal();
      postApi('/user/jnProc', joinData, onJoinSuccess, onJoinError);
    });

    // 회원가입 성공 콜백함수
    function onJoinSuccess(data) {
      closeModal();
      alert('회원가입 완료!!')
      window.location.replace('/user/login');
    }

    // 회원가입 실패 콜백함수
    function onJoinError(err) {
      closeModal();
      var errCd = err.responseJSON?.exception?.errorCode;
      var errMsg = err.responseJSON?.exception?.errorMessage;

      console.log("err >> " + JSON.stringify(err));
      alert(errMsg);
    }

    $('#goSignup').on('click', function () {
      $('#login').hide();
      $('#signup').fadeIn(600);
      $('#loginHeader').text('회원가입');
    });

    $('#goLogin').on('click', function () {
      $('#login').fadeIn(600);
      $('#signup').hide();
      $('#loginHeader').text('로그인');
    });

  });
</script>
</body>
</html>