<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Footer -->
<th:block th:fragment="footerFragment">
  <nav class="tab-bar">
    <a href="/index" id="tab1" class="tab-bar__tab tab-bar__tab--selected">
      <i class="fa fa-user"></i>
      <span class="tab-bar__title">친구</span>
    </a>
    <a href="/chats" id="tab2" class="tab-bar__tab">
      <i class="fa fa-comment"></i>
      <span class="tab-bar__title">채팅</span>
    </a>
    <a href="/find" id="tab3" class="tab-bar__tab">
      <i class="fa fa-search"></i>
      <span class="tab-bar__title">찾기</span>
    </a>
    <a href="/more" id="tab4" class="tab-bar__tab">
      <i class="fa fa-ellipsis-h"></i>
      <span class="tab-bar__title">더보기</span>
    </a>
  </nav>
</th:block>

</html>