<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Footer -->
<th:block th:fragment="footerFragment">
  <footer class="footer">
    <div class="contact-info">
      <p>Email: zero-bin@naver.com</p>
      <p>Phone: 010-2015-7631</p>
    </div>

    <div class="social-links">
      <a href="#" target="_blank">Twitter</a>
      <a href="#" target="_blank">Facebook</a>
      <a href="#" target="_blank">LinkedIn</a>
    </div>

    <div class="site-links">
      <a href="#">About Us</a>
      <a href="#">Our Services</a>
      <a href="#">Contact Us</a>
    </div>

    <div class="copyright">
      <p>© 2023 CYB Compony. All rights reserved.</p>
    </div>
  </footer>
</th:block>

</html>