<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerTopFragment">
  <div class="header__top">
    <div class="header__column">
      <i class="fa fa-plane"></i>
      <i class="fa fa-wifi"></i>
    </div>
    <div class="header__column">
      <span class="header__time"></span>
    </div>
    <div class="header__column">
      <i class="fa fa-moon-o"></i>
      <i class="fa fa-bluetooth-b"></i>
      <span class="header__battery">100% <i class="fa fa-battery-full"></i></span>
    </div>
  </div>
</th:block>
</html>