<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">
  <!-- Sidebar -->
  <div class="side-bar">
    <h2>채팅방 목록</h2>
    <ul class="chat-list">
      <li th:each="room : ${userVo.roomList}">
        <a href="#" th:onclick="enterRoom([[${room.roomId}]]);">
          <div class="room-info">
            <div class="room-title">
              <span th:text="${room.roomName}"></span>
            </div>
            <div class="participants">
              <span th:text="${'👤 ' + room.memberCount}"></span>
            </div>
            <div class="last-message">
              <span th:text="${room.lastMsg}"></span>
            </div>
            <div class="last-message-date">
              <span th:text="${room.lastMsgDt}"></span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</th:block>



</html>