<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="layout/fragments/head.html :: headFragment"/>
<body class="body-chat">
<header class="top-header chat-header">
  <th:block th:replace="layout/fragments/header_top.html :: headerTopFragment"/>

  <div class="header__bottom">
    <div class="header__column">
      <a href="/chats">
        <i class="fa fa-chevron-left fa-lg"></i>
      </a>
    </div>
    <div class="header__column">
      <span class="header__text" th:text="${roomVO.roomInfo.roomName}"></span>
    </div>
    <div class="header__column">
      <i class="fa fa-search"></i>
      <i class="fa fa-bars" onclick="togglePopup()"></i>

      <div class="chat_overlay" id="overlay" style="display:none;">
        <div class="chat_popup" id="popup">
          <div>
            <a onclick="togglePopup()">
              <i class="fa fa-times fa-lg" aria-hidden="true"></i>
            </a>
          </div>
          <br/>
          <button onclick="exitRoom()">방나가기</button>
          <br/>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="chat" id="chatList">

  <th:block th:each="message : ${roomVO.messageList}">
    <!-- 시스템이 보낸 메세지 -->
    <div class="date-divider" th:if="${message.userId == 'system'}">
      <span class="date-divider__text" th:text="${message.message}"></span>
    </div>

    <!-- 내가 보낸 메세지 -->
    <div class="chat__message chat__message-from-me"
         th:if="${message != null and userVO.lginData.userId == message.userId and message.userId != 'system'}">
      <div>
        <div class="chat__message-unread-me" th:if="${message.unread != '0'}" th:text="${message.unread}"></div>
        <span class="chat__message-time" th:text="${#strings.substring(message.time, 11, 16)}"></span>
      </div>
      <span class="chat__message-body" th:text="${message.message}"></span>
    </div>

    <!-- 내가 받은 메세지 -->
    <div class="chat__message chat__message-to-me"
         th:if="${message != null and userVO.lginData.userId != message.userId and message.userId != 'system'}">
      <img th:src="@{'/profile/' + ${message.userId} + '.png'}" alt="" class="chat-message-avatar"
           onerror="this.src='/images/avatar.png'">
      <div class="chat__message-center">
        <h3 class="chat__message-username" th:text="${message.userName}"></h3>
        <span class="chat__message-body" th:text="${message.message}"></span>
      </div>
      <div>
        <div class="chat__message-unread-you" th:if="${message.unread != '0'}" th:text="${message.unread}"></div>
        <span class="chat__message-time" th:text="${#strings.substring(message.time, 11, 16)}"></span>
      </div>
    </div>
  </th:block>

</main>

<div class="type-message">
  <i class="fa fa-plus fa-lg" onclick="inviteUser()"></i>
  <div class="type-message__input">
    <input type="text" id="messageInput" onkeyup="handleKeyPress()">
    <i class="fa fa-smile-o fa-lg"></i>
    <span class="record-message" onclick="handleOnClickSend()">
      <i class="fa fa-send fa-lg"></i>
    </span>
  </div>
</div>
<div class="bigScreenText">
  Please make your screen smaller
</div>
<script th:inline="javascript">

  window.onload = function () {
    scrollDown();
  };

  function scrollDown() {
    window.scrollTo(0, document.body.scrollHeight);
  }

  var userId = [[${userVO.lginData.userId}]];
  var userName = [[${userVO.lginData.userName}]];
  var roomId = [[${roomVO.roomInfo.roomId}]];
  var ws_url = [[${wsUrl}]];

  openModal();
  const ws = new WebSocket("ws://" + ws_url + "/ws/chatting/" + roomId);

  function handleKeyPress() {
    if (window.event.keyCode === 13) {
      var message = document.getElementById('messageInput').value;
      sendMessage(message);
      document.getElementById('messageInput').value = ''; // 메시지를 보내고 입력란 비우기
    }
  }

  function handleOnClickSend() {
    var message = document.getElementById('messageInput').value;
    sendMessage(message);
    document.getElementById('messageInput').value = ''; // 메시지를 보내고 입력란 비우기
  }

  function inviteUser() {
    let userId = prompt("초대하실 유저 아이디를 입력해주세요.")

    if(!userId || userId === ''){
      return;
    }

    let data = {
      userId: userId,
      roomId: roomId
    }

    // API 호출
    openModal();
    postApi('/inviteRoom', data, onApiSuccess, onApiError);
  }

  ws.onopen = function () {
    closeModal();
    console.log('입장성공');
  };

  ws.onmessage = function (event) {
    let message = event.data;
    let data = JSON.parse(message);
    let str = '';
    if (data.userId === userId) {
      // 내가 보낸 메세지
      str += '<div class="chat__message chat__message-from-me">';
      str += '  <div>';
      if(data.unread && data.unread !== '0'){
        str += '    <div class="chat__message-unread-me">'+data.unread+'</div>';
      }
      str += '    <span class="chat__message-time">' + data.time.substring(11, 16) + '</span>';
      str += '  </div>';
      str += '  <span class="chat__message-body">' + data.message + '</span>';
      str += '</div>';
    } else if(data.userId === 'system'){
      // 시스템이 보낸 메세지
      str += ' <div class="date-divider"">';
      str += '  <span class="date-divider__text">' + data.message + '</span>';
      str += '</div>';
    } else {
      // 상대가 보낸 메세지
      str += ' <div class="chat__message chat__message-to-me">';
      str += '  <img src="/profile/' + data.userId + '.png" alt="" class="chat-message-avatar" onerror="this.src=\'/images/avatar.png\'">';
      str += '  <div class="chat__message-center">';
      str += '    <h3 class="chat__message-username">' + data.userName + '</h3>';
      str += '    <span class="chat__message-body">' + data.message + '</span>';
      str += '  </div>';
      str += '  <div>';
      if(data.unread && data.unread !== '0'){
        str += '    <div class="chat__message-unread-you">'+data.unread+'</div>';
      }
      str += '    <span class="chat__message-time">' + data.time.substring(11, 16) + '</span>';
      str += '  </div>';
      str += ' </div>';
    }
    $("#chatList").append(str);
    scrollDown();
  };

  ws.onclose = function () {
    console.log("ws.onclose");
  };

  ws.onerror = function (error) {
    closeModal();
    alert('소켓 연결중 오류가 발생하였습니다. 잠시 후 다시 이용해 주시길 바랍니다.');
    window.location.replace('/chats');
  };

  // 메시지를 보내는 함수
  function sendMessage(message) {
    if (ws.readyState === WebSocket.OPEN) {
      let currentTime = getCurrentTime();
      let messageId = userId + "_" + roomId + "_" + currentTime;
      let data = {
        messageId: messageId,
        message: message,
        userId: userId,
        userName: userName,
        time: currentTime
      };

      ws.send(JSON.stringify(data));
    } else if (ws.readyState === WebSocket.CONNECTING) {
      console.log('WebSocket 연결이 아직 진행 중입니다.');
    } else {
      console.error('WebSocket 연결이 닫혀 있습니다.');
    }
  }

  function getCurrentTime() {
    let now = new Date();
    let year = now.getFullYear();
    let month = String(now.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더함
    let day = String(now.getDate()).padStart(2, '0');
    let hours = String(now.getHours()).padStart(2, '0');
    let minutes = String(now.getMinutes()).padStart(2, '0');
    let seconds = String(now.getSeconds()).padStart(2, '0');

    // YYYY-MM-DD HH:mm:ss
    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
  }

  function togglePopup() {
    let overlay = document.getElementById('overlay');
    if (overlay.style.display === 'flex') {
      overlay.style.display = 'none';
    } else {
      overlay.style.display = 'flex';
    }
  }

  function exitRoom() {
    let data = {
      userId: userId,
      roomId: roomId
    }
    // API 호출
    openModal();
    postApi('/exitRoom', data, onExitRoomSuccess, onApiError);
  }

  function onExitRoomSuccess(data) {
    closeModal();
    alert(data.msg);
    window.location.replace('/chats');
  }

</script>

</body>
</html>
