<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/layout/fragments/head.html :: headFragment" />
<body>
  <header class="top-header">
    <th:block th:replace="/layout/fragments/header_top.html :: headerTopFragment" />
    <div class="header__bottom">
      <div class="header__column">
        <span class="header__text">Edit</span>
      </div>
      <div class="header__column">
        <span class="header__text">Find</span>
      </div>
      <div class="header__column">

      </div>
    </div>
  </header>
  <main class="find">
    <section class="find__options">
      <div class="find__option">
        <i class="fa fa-address-book fa-lg"></i>
        <span class="find__option-title">Find</span>
      </div>
      <div class="find__option">
        <i class="fa fa-qrcode fa-lg"></i>
        <span class="find__option-title">QR Code</span>
      </div>
      <div class="find__option">
        <i class="fa fa-mobile fa-lg"></i>
        <span class="find__option-title">Shake</span>
      </div>
      <div class="find__option">
        <i class="fa fa-envelope-o fa-lg"></i>
        <span class="find__option-title">Invite via SMS</span>
      </div>
    </section>
    <section class="find__recommended">
      <header>
        <h6 class="recommend__title">Recommended Friends</h6>
      </header>
      <div class="recommended__none">
        <span class="recommended__text">You have no recommended friends.</span>
      </div>
    </section>

  </main>
  <th:block th:replace="/layout/fragments/footer.html :: footerFragment" />
  <div class="bigScreenText">
    Please make your screen smaller
  </div>
  <script>
    window.onload = function() {
      var tabs = document.querySelectorAll('.tab-bar__tab');
      tabs.forEach(function(tab) {
        tab.classList.remove('tab-bar__tab--selected');
        if (tab.id === 'tab3') {
          tab.classList.add('tab-bar__tab--selected');
        }
      });
    }
  </script>
</body>
</html>
