<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="layout/fragments/head.html :: headFragment"/>
<body>
<header class="top-header top-header--transparent">
  <th:block th:replace="layout/fragments/header_top.html :: headerTopFragment"/>
  <div class="header__bottom">
    <div class="header__column">
      <a href="/chats">
        <i class="fa fa-times fa-lg"></i>
      </a>
    </div>
    <div class="header__column">
    </div>
  </div>
</header>
<main class="profile">
  <header class="profile__header">
    <div class="profile__header-container">
      <!-- 프로필사진 목록 -->
      <th:block th:each="item : ${#strings.arraySplit(roomInfo.roomProfile, ',')}">
        <img th:src="@{'/profile/' + ${item} + '.png'}" alt=""
             onerror="this.src='/images/avatar.png'" />
      </th:block>
    </div>
  </header>
  <div class="profile__container">
    <input type="text" id="editRoomName" th:placeholder="${roomInfo.roomName}">
    <span class="profile__action-circle" id="changeRoomName">
      <i class="fa fa-pencil fa-lg"></i>
    </span>
    <span class="profile__action-title">방이름 변경하기</span>
  </div>
</main>
<div class="bigScreenText">
  Please make your screen smaller
</div>

<script th:inline="javascript">

  var roomId = [[${roomInfo.roomId}]];

  // 상태메세지 변경클릭
  $('#changeRoomName').on('click', (function () {
    var check = confirm("방이름을 변경하시겠습니까?");

    if (check) {
      var roomName = $('#editRoomName').val();
      if(!roomName || roomName === ''){
        alert('변경할 이름을 입력하세요.');
        return;
      }

      var data = {
        roomId: roomId,
        roomName: roomName
      }
      // API 호출
      openModal();
      postApi('/updateRoomName', data, onUpdateStatMsgSuccess, onApiError);
    }
  }));

  function onUpdateStatMsgSuccess(data) {
    closeModal();
    alert(data.msg)
    window.location.replace('/roomInfo/' + roomId);
  }

</script>

</body>
</html>
