<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="layout/fragments/head.html :: headFragment"/>
<body>
<header class="top-header top-header--transparent">
  <th:block th:replace="layout/fragments/header_top.html :: headerTopFragment"/>
  <div class="header__bottom">
    <div class="header__column">
      <a href="#" onclick="goBack()">
        <i class="fa fa-times fa-lg"></i>
      </a>
    </div>
    <div class="header__column">
      <!--      <i class="fa fa-star-o fa-lg"></i>-->
    </div>
  </div>
</header>
<main class="profile">
  <header class="profile__header">
    <div class="profile__header-container">
      <img th:src="@{'/profile/' + ${profileInfo.userId} + '.png'}" alt="" onerror="this.src='/images/avatar.png'">
      <h3 class="profile-header-title" th:text="${profileInfo.userName}"></h3>
    </div>
  </header>
  <div class="profile__container">
    <th:block th:if="${userVO.lginData.userId == profileInfo.userId}">
      <input type="text" id="editStatMsg" th:placeholder="${userVO.lginData.statMsg}">
    </th:block>

    <div class="profile__actions">
      <!-- 본인 -->
      <th:block th:if="${userVO.lginData.userId == profileInfo.userId}">

        <div class="profile__action" id="changeProfileMsg">
          <span class="profile__action-circle">
            <i class="fa fa-pencil fa-lg"></i>
          </span>
          <span class="profile__action-title">메세지 변경</span>
        </div>

        <div class="profile__action">
              <span class="profile__action-circle" id="changeProfileImg" onclick="clickProfile()">
                <i class="fa fa-camera fa-lg"></i>
              </span>
              <span class="profile__action-title">사진 변경(png)</span>
          <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="imgFile" name="file" accept="image/*" style="display: none" />
            <button type="submit" id="uploadButton" style="display: none">사진변경</button>
          </form>
          <span class="profile__action-title" id="fileName"></span>
        </div>

      </th:block>

      <!-- 타인 -->
      <th:block th:unless="${userVO.lginData.userId == profileInfo.userId}">
        <div class="profile__action" id="newChat">
          <span class="profile__action-circle">
            <i class="fa fa-comment fa-lg"></i>
          </span>
          <span class="profile__action-title">채팅+</span>
        </div>
        <div class="profile__action" id="addFriend">
          <span class="profile__action-circle">
            <i class="fa fa-user fa-lg"></i>
          </span>
          <span class="profile__action-title">친구추가</span>
        </div>
      </th:block>

    </div>
  </div>
</main>
<div class="bigScreenText">
  Please make your screen smaller
</div>

<script th:inline="javascript">
  $(document).ready(function () {
    var userId = [[${userVO.lginData.userId}]];
    var profileUserId = [[${profileInfo.userId}]];

    // 채팅시작버튼 클릭
    $('#newChat').on('click', (function () {
      var userIdList = [userId, profileUserId];
      var roomName = prompt("채팅방 이름을 입력하세요.", "")

      var data = {
        userIdList: userIdList,
        roomName: roomName
      }
      // API 호출
      openModal();
      postApi('/newChat', data, onNewChatSuccess, onApiError);
    }));

    function onNewChatSuccess(data) {
      closeModal();
      window.location.replace('/chat/' + data.roomId);
    }

    // 친구추가버튼 클릭
    $('#addFriend').on('click', (function () {
      var data = {
        userId: userId,
        friendId: profileUserId
      }
      // API 호출
      openModal();
      postApi('/addFriend', data, onAddFriendSuccess, onApiError);
    }));

    function onAddFriendSuccess(data) {
      closeModal();
      if (data.succYn !== 'Y') {
        alert(data.msg);
      } else {
        alert('친구추가 요청이 완료되었습니다.')
        window.location.replace('/index');
      }
    }

    // 상태메세지 변경클릭
    $('#changeProfileMsg').on('click', (function () {
      var check = confirm("상태메세지를 변경하시겠습니까?");

      if (check) {
        var data = {
          userId: userId,
          statMsg: $('#editStatMsg').val()
        }
        // API 호출
        openModal();
        postApi('/updateStatMsg', data, onUpdateStatMsgSuccess, onApiError);
      }
    }));

    function onUpdateStatMsgSuccess(data) {
      closeModal();
      alert(data.msg)
      window.location.replace('/userProfile/' + userId);
    }
  });

  document.getElementById('uploadForm').addEventListener('submit', function (event) {
    event.preventDefault(); // 기본 이벤트 제거

    var formData = new FormData(this); // 폼 데이터 생성
    openModal(); // 모달 열기
    fetch('/updateProfileImage', {
      method: 'POST',
      body: formData
    })
      .then(response => {
        if (response.ok) {
          return response.json();
        }
        throw new Error('Network response was not ok.');
      })
      .then(data => {
        closeModal(); // 모달 닫기
        alert(data.msg);
        location.reload();
      })
      .catch(error => {
        closeModal(); // 모달 닫기
        alert(error);
      });
  });

  document.getElementById('imgFile').addEventListener('change', function () {
    const input = document.getElementById('imgFile');

    if (input.files && input.files.length > 0) {
      const fileNameDiv = document.getElementById('fileName');
      fileNameDiv.textContent = '파일명 : '+input.files[0].name;
      $('#uploadButton').show();
    } else {
      $('#uploadButton').hide();
    }
  });

  function clickProfile(){
    $('#imgFile').click();
  }

</script>

</body>
</html>
