<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/layout/fragments/head.html :: headFragment" />
<body>
  <header class="top-header">
    <th:block th:replace="/layout/fragments/header_top.html :: headerTopFragment" />
    <div class="header__bottom">
      <div class="header__column">
        <span class="header__text">Manager</span>
      </div>
      <div class="header__column">
        <span class="header__text">Friends</span>
        <span class="header__number">1</span>
      </div>
      <div class="header__column">
        <i class="fa fa-cog"></i>
      </div>
    </div>
  </header>
  <main class="friends">
    <div class="search-bar">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="Find friends, chats, Plus Friends">
    </div>
    <section class="friends__section">
      <header class="friends__section-header">
        <h6 class="friends_profile-title">My Profile</h6>
      </header>
      <div class="friends__section-rows">
        <div class="friends__section-row">
          <a href="profile">
            <img th:src="@{/images/avatar.png}" alt="">
            Seungyong Lee
          </a>
        </div>
        <div class="friends__section-row">
          <img th:src="@{/images/avatar.png}" alt="">
          <span class="friends__section-name">Friends'Names Display</span>
        </div>
      </div>
    </section>
    <section class="friends__section">
      <header class="friends__section-header">
        <h6 class="friends__section-title">Friends</h6>
      </header>
      <div class="friends__section-rows">
        <div class="friends__section-row with-tagline">
          <div class="friends__section-column">
            <img th:src="@{/images/avatar.png}" alt="">
            <span class="friends__section-name">Minji Lee</span>
          </div>
            <span class="friends__section-tagline">Life is short. so live your life.</span>
        </div>
      </div>
    </section>
  </main>
  <th:block th:replace="/layout/fragments/footer.html :: footerFragment" />
  <div class="bigScreenText">
    Please make your screen smaller
  </div>
  <script>
    window.onload = function() {
      var tabs = document.querySelectorAll('.tab-bar__tab');
      tabs.forEach(function(tab) {
        tab.classList.remove('tab-bar__tab--selected');
        if (tab.id === 'tab1') {
          tab.classList.add('tab-bar__tab--selected');
        }
      });
    }
  </script>
</body>
</html>
