<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
  <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<th:block layout:fragment="content">
  <!-- Begin Page Content -->
  <div id="welcome">
    <div class="welcome-message">
      <h1><span th:text="${userVo.lginData.userName}"></span> 환영합니다!</h1>
      <p>채팅방을 선택하여 대화를 시작하세요.</p>
    </div>
  </div>

  <div id="room" style="display: none">
    <h1></h1>

  </div>

  <script>
    function enterRoom(roomId){



      alert(roomId);
    }
  </script>
</th:block>
</html>