<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myapi.mymsgapi.dao.room.RoomDAO">

  <select id="selectRoomList" parameterType="String" resultType="com.myapi.mymsgapi.model.UserRoomInfo">
    /* 방목록 불러오기 */
    SELECT
    RI.ROOM_ID,
    RI.ROOM_NAME,
    COUNT(RM.MEMBER_ID) AS MEMBER_COUNT,
    GROUP_CONCAT(
    IF(RM.MEMBER_ID != #{userId}, UM.USER_ID, NULL)
    SEPARATOR ','
    ) AS PROFILES
    FROM
    ROOM_INFO RI JOIN
    ROOM_MEMBER RM ON RI.ROOM_ID = RM.ROOM_ID JOIN
    USER_MASTER UM ON RM.MEMBER_ID = UM.USER_ID
    WHERE
    RI.ROOM_ID IN (
    SELECT RM2.ROOM_ID
    FROM ROOM_MEMBER RM2
    WHERE RM2.MEMBER_ID = #{userId}
    )
    GROUP BY
    RI.ROOM_ID,
    RI.ROOM_NAME
    ORDER BY
    RI.ROOM_ID DESC
  </select>

  <select id="selectRoomInfo" parameterType="String" resultType="com.myapi.mymsgapi.model.RoomInfo">
    SELECT ROOM_ID, ROOM_NAME
    FROM ROOM_INFO
    WHERE ROOM_ID = #{roomId}
  </select>

  <select id="selectMemberInfo" parameterType="String" resultType="com.myapi.mymsgapi.model.MemberInfo">
    SELECT UM.USER_ID, UM.USER_NAME, IFNULL(UM.STAT_MSG, '') AS STAT_MSG
    FROM USER_MASTER UM
           INNER JOIN ROOM_MEMBER RM
                      ON UM.USER_ID = RM.MEMBER_ID
    WHERE RM.ROOM_ID = #{roomId}
  </select>

  <insert id="insertRoomInfo" parameterType="com.myapi.mymsgapi.model.RoomInfo">
    INSERT INTO ROOM_INFO(
    ROOM_ID,
    ROOM_NAME
    ) VALUES (
    #{roomId},
    #{roomName}
    )
  </insert>

  <insert id="insertRoomMember" parameterType="com.myapi.mymsgapi.model.RoomMember">
    INSERT INTO ROOM_MEMBER(
    ROOM_ID,
    MEMBER_ID
    ) VALUES (
    #{roomId},
    #{memberId}
    )
  </insert>
</mapper>