<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myapi.mymsgapi.dao.user.UserDAO">

  <select id="selectLoginUser" parameterType="com.myapi.mymsgapi.contoller.user.dto.UserLginReq"
          resultType="com.myapi.mymsgapi.model.UserLginInfo">
    /* 아이디 로그인 */
    SELECT
    USER_ID
    ,USER_NAME
    ,PW_ERR_CNT
    ,PROFILE_PATH
    FROM USER_MASTER
    WHERE 1=1
    AND USER_ID = #{userId}
    AND USER_PW = #{userPw}
  </select>

  <update id="updateErrorCount" parameterType="com.myapi.mymsgapi.contoller.user.dto.UserLginReq">
    UPDATE USER_MASTER
    SET PW_ERR_CNT = PW_ERR_CNT + 1
    WHERE USER_ID = #{userId}
  </update>

  <update id="updateErrorCountZero" parameterType="com.myapi.mymsgapi.contoller.user.dto.UserLginReq">
    UPDATE USER_MASTER
    SET PW_ERR_CNT = 0
    WHERE USER_ID = #{userId}
  </update>

  <insert id="insertLoginUserHist" parameterType="com.myapi.mymsgapi.model.vo.UserLginHistVO">
    /* 로그인 이력 쌓기 */
    INSERT INTO USER_LOGIN_HISTORY(
    USER_ID
    ,IP_ADDR
    ,REG_DT
    ) VALUES (
    #{userId}
    ,#{ipAddr}
    ,now()
    )
  </insert>

  <insert id="insertUser" parameterType="com.myapi.mymsgapi.contoller.user.dto.UserRegsReq">
    /* 회원가입 */
    INSERT INTO USER_MASTER(
    USER_ID
    ,USER_PW
    ,USER_NAME
    ,PW_ERR_CNT
    ,REG_DT
    ,MOD_DT
    ) VALUES (
    #{userId}
    ,#{userPw}
    ,#{userName}
    ,0
    ,now()
    ,now()
    )
  </insert>

  <select id="dupChkUserId" parameterType="String" resultType="Integer">
    /* 아이디 중복 체크 */
    SELECT
    COUNT(*) AS CNT
    FROM USER_MASTER
    WHERE 1=1
    AND USER_ID = #{userId}
  </select>

</mapper>