<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myapi.mymsgapi.dao.user.UserDAO">

  <select id="selectLoginUser" parameterType="com.myapi.mymsgapi.contoller.user.dto.UserLginReq"
          resultType="com.myapi.mymsgapi.model.UserLginInfo">
    /* 아이디 로그인 */
    SELECT
    USER_ID
    ,USER_NAME
    ,PW_ERR_CNT
    ,PROFILE_PATH
    ,IFNULL(STAT_MSG, '') AS STAT_MSG
    FROM USER_MASTER
    WHERE 1=1
    AND USER_ID = #{userId}
    AND USER_PW = #{userPw}
  </select>

  <update id="updateErrorCount" parameterType="com.myapi.mymsgapi.contoller.user.dto.UserLginReq">
    UPDATE USER_MASTER
    SET PW_ERR_CNT = PW_ERR_CNT + 1
    WHERE USER_ID = #{userId}
  </update>

  <update id="updateErrorCountZero" parameterType="com.myapi.mymsgapi.contoller.user.dto.UserLginReq">
    UPDATE USER_MASTER
    SET PW_ERR_CNT = 0
    WHERE USER_ID = #{userId}
  </update>

  <insert id="insertLoginUserHist" parameterType="com.myapi.mymsgapi.model.vo.UserLginHistVO">
    /* 로그인 이력 쌓기 */
    INSERT INTO USER_LOGIN_HISTORY(
    USER_ID
    ,IP_ADDR
    ,REG_DT
    ) VALUES (
    #{userId}
    ,#{ipAddr}
    ,now()
    )
  </insert>

  <insert id="insertUser" parameterType="com.myapi.mymsgapi.contoller.user.dto.UserRegsReq">
    /* 회원가입 */
    INSERT INTO USER_MASTER(
    USER_ID
    ,USER_PW
    ,USER_NAME
    ,PW_ERR_CNT
    ,REG_DT
    ,MOD_DT
    ) VALUES (
    #{userId}
    ,#{userPw}
    ,#{userName}
    ,0
    ,now()
    ,now()
    )
  </insert>

  <select id="dupChkUserId" parameterType="String" resultType="Integer">
    /* 아이디 중복 체크 */
    SELECT
    COUNT(*) AS CNT
    FROM USER_MASTER
    WHERE 1=1
    AND USER_ID = #{userId}
  </select>

  <select id="selectFriendList" parameterType="String" resultType="com.myapi.mymsgapi.model.UserFriendInfo">
    SELECT UF.USER_ID
         , UF.FRIEND_ID
         , UM.USER_NAME  AS FRIEND_NAME
         , IFNULL(UM.STAT_MSG, '') AS FRIEND_STAT_MSG
         , UF.BOOKMARK_YN
         , DATE_FORMAT(UF.REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
    FROM USER_FRIEND AS UF
           INNER JOIN USER_MASTER AS UM
                      ON (UF.FRIEND_ID = UM.USER_ID)
    WHERE UF.USER_ID = #{userId}
  </select>

  <select id="selectUserProfile" parameterType="String" resultType="com.myapi.mymsgapi.model.UserProfileInfo">
    SELECT USER_ID
         , USER_NAME
         , DATE_FORMAT(REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
         , DATE_FORMAT(MOD_DT, '%Y-%m-%d %H:%i:%s') AS MOD_DT
         , PROFILE_PATH
         , IFNULL(STAT_MSG, '') AS STAT_MSG
    FROM USER_MASTER
    WHERE USER_ID = #{userId}
  </select>

  <select id="selectFindFriend" parameterType="com.myapi.mymsgapi.contoller.user.dto.AddFriendReq" resultType="Integer">
    SELECT COUNT(*)
    FROM USER_FRIEND
    WHERE USER_ID = #{userId} AND FRIEND_ID = #{friendId}
  </select>

  <insert id="insertFriend" parameterType="com.myapi.mymsgapi.contoller.user.dto.AddFriendReq">
    INSERT INTO USER_FRIEND(
    USER_ID
    ,FRIEND_ID
    ,BOOKMARK_YN
    ,REG_DT
    ) VALUES (
    #{userId}
    ,#{friendId}
    ,'N'
    ,now()
    )
  </insert>

  <select id="selectFindFriendId" parameterType="com.myapi.mymsgapi.contoller.user.dto.FindFriendReq" resultType="com.myapi.mymsgapi.contoller.user.dto.FindFriendRes">
    SELECT
    'Y' AS EXIST_YN
    ,USER_ID
    FROM USER_MASTER
    WHERE USER_ID = #{userId}
  </select>

</mapper>